nextflow.enable.moduleBinaries = true

// Proposal (2) for documentation of optional parameters for modules.
// optional_parameters:
// --thumbnail_level:
//      type: integer
//      description: Resolution level to use for coarse alignment. By default, it is approximated based on image shape.
//      default: None
// --px_size:
//      type: number
//      description: Pixel size in microns. By default, it is extracted from the image metadata. If provided, the user-defined input will overwrite the detected pixel size information.

// Proposal (3) - keep proposal (1), remove section above as it would be documented in the meta.yml, and provide example how the arguments could be passed:
// Example on how to provide other parameters:
//process {
//
//    withName: PALOM {
//        ext.args = [ "",
//              "--px_size 0.23",
//              "--thumbnail_level 1"
//        ].join(" ").trim()
//    }
//
//}