process {

   withName: 'TRAIN_N2V_CLI' {
    publishDir = [
        [
            path: { "${params.output_path}/config_n2v_cli" },
            mode: 'copy',
            pattern: '*.yaml',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ],
        publishDir = [
            path: "${params.output_path}/train_n2v_cli",
            pattern: "checkpoints/last.ckpt",
            mode: "copy"
        
    ]
    ]
    ext.args = [
        "--data_type ${params.data_type}",
        "--experiment_name ${params.exp_name}",
        "--batch_size ${params.batch_size}",
        "--patch_size ${params.patch_size}",
        "--num_epochs ${params.num_epochs}",
        "--axes ${params.axes}",
        "--use_n2v2 ${params.use_n2v2}",
    ].join(' ').trim()
}
   withName: 'TRAIN_N2N_CARE_CLI'{
      publishDir = [
        [
            path: { "${params.output_path}/config_n2N_care_cli" },
            mode: 'copy',
            pattern: '*.yaml',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ],
        publishDir = [
            path: "${params.output_path}/train_n2n_care_cli",
            pattern: "checkpoints/last.ckpt",
            mode: "copy"     
    ]
    ]
    ext.args = [
        "--data_type ${params.data_type}",
        "--experiment_name ${params.exp_name}",
        "--batch_size ${params.batch_size}",
        "--patch_size ${params.patch_size}",
        "--num_epochs ${params.num_epochs}",
        "--axes ${params.axes}",
        "--loss ${params.loss}",
    ].join(' ').trim()
   }

   withName: 'PREDICT_CLI' {
      publishDir = [
            path: "${params.output_path}/predict_cli",
            pattern: "predictions/*.${params.file_extension}",
            mode: "copy"
        ]
      ext.args = [
         "--tile_size ${params.tile_size}",
         "--tile_overlap ${params.tile_overlap}",
         "--axes ${params.test_axis}",
         "--data_type ${params.data_type}",
       //  "--no-tta-transforms",
         "--write_type ${params.write_type}",
         "--batch_size ${params.batch_size}"
         
      ].join(' ').trim()
   }




 
}
