/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CAREamics Nextflow config file for N2N
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {

    input_csv       = "${params.basepath}/test_careamics/input_n2n_wsl.csv"
    output_path     = "${params.basepath}/results_careamics"
    test_path       = "${params.basepath}/test_careamics/N2N_data/test"
    outdir          = "${params.basepath}/results_careamics"  



    // Mandatory params for config
    axes            = "YX"
    batch_size      = 64
    patch_size      = "64 64"
    num_epochs      = 30
    data_type       = "tiff"
    file_extension  = "{tif,tiff}"
    logger          = "None"
    exp_name        = "n2n_em"
    model="n2n"
    use_n2v2="False"
    
    // Params for the care and n2n algorithm
    //nchannelsin   = "None"
    //nchannelsout  = "None"
    loss            = "mae"
    roisize=11
    maskedpixelpercentage="0.2"


    // Mandatory params for train
    //val_target    = "kk"
    valpercentage   = 0.01
    valminsplit     = 5

    // Mandatory params for test
    tile_size       = "256 256"
    tile_overlap    = "48 48"
    write_type      = "tiff"
    test_axis       = "SYX"

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'


// Set working directory
workDir = "${params.basepath}/work_nextflow"

profiles{
    conda_wsl { 
      conda.enabled=true
      process.conda="${params.basepath}/miniconda3/envs/careamics"
      }
    apptainer_wsl{
        apptainer.enabled= true
        apptainer.autoMounts= true
        apptainer.cacheDir= '${params.basepath}/.apptainer/cache'
        apptainer.tmpDir = '${params.basepath}/.apptainer/tmp'
        process.container='community.wave.seqera.io/library/careamics:0.0.16--973e324f2f759ff5'
        containerOptions = '--nv'
    }
    docker_wsl{
        docker.enabled=true
        containerOptions = '--gpus all -u $(id -u):$(id -g)'
        process.container='community.wave.seqera.io/library/careamics:0.0.16--973e324f2f759ff5'
    }
}

