process {
   withName: 'CONFIG_N2V' {
      publishDir = [
            path: "${params.output_path}/config_n2v",
            pattern: "*.yaml",
            mode: "copy"
        ]
      ext.args = [
         "--data-type ${params.data_type}",
         "--no-use-augmentations",
         "--independent-channels",
        // "--n-channels ${params.nchannels}",
         "--roi-size ${params.roisize}",
         "--masked-pixel-percentage ${params.maskedpixelpercentage}",
         "--struct-n2v-axis ${params.structn2vaxis}",
         "--use-n2v2"  // change to --use-n2v2 if you want to use n2v2 or keep to --no-use-n2v2
         //"--struct-n2v-span", ${params.structn2vspan}
      ].join(' ').trim()
   }

   withName: 'CONFIG_N2N' {
      publishDir = [
            path: "${params.output_path}/config_n2n",
            pattern: "*.yaml",
            mode: "copy"
        ]
      ext.args = [
         "--data-type ${params.data_type}",
         "--no-use-augmentations",
         "--independent-channels",
        // "--n-channels-in ${params.nchannelsin}",
        // "--n-channels-out ${params.nchannelsout}",
         "--loss ${params.loss}"
      ].join(' ').trim()
   }

   withName: 'CONFIG_CARE' {
      publishDir = [
            path: "${params.output_path}/config_care",
            pattern: "*.yaml",
            mode: "copy"
        ]
      ext.args = [
         "--data-type ${params.data_type}",
         "--no-use-augmentations",
         "--independent-channels",
      //   "--n-channels-in ${params.nchannelsin}",
      //   "--n-channels-out ${params.nchannelsout}",
         "--loss ${params.loss}"
      ].join(' ').trim()
   }

   withName: 'TRAIN_N2V' {
      publishDir = [
            path: "${params.output_path}/train_n2v",
            pattern: "checkpoints/last.ckpt",
            mode: "copy"
        ]
      //ext.args = [
        // "--use-in-memory",
        // "--val-percentage ${params.valpercentage}",
         //"--val-minimum-split ${params.valminsplit}",
     // ].join(' ').trim()
   }
   withName: 'TRAIN_N2N' {
      publishDir = [
            path: "${params.output_path}/train_n2n",
            pattern: "checkpoints/last.ckpt",
            mode: "copy"
        ]
      ext.args = [
       //  "--val-source ${params.val_path}",
        // "--val-target ${params.val_target}",
       //  "--train-target ${params.train_target}",
         "--use-in-memory",
       //  "--val-percentage ${params.valpercentage}",
       //  "--val-minimum-split ${params.valminsplit}",
      ].join(' ').trim()
   }
      withName: 'TRAIN_CARE' {
      publishDir = [
            path: "${params.output_path}/train_care",
            pattern: "checkpoints/last.ckpt",
            mode: "copy"
        ]
      ext.args = [
       //  "--train-target ${params.train_target}",
         "--use-in-memory",
         //"--val-percentage ${params.valpercentage}",
         //"--val-minimum-split ${params.valminsplit}",
      ].join(' ').trim()
   }
   withName: 'PREDICT_N2V' {
      publishDir = [
            path: "${params.output_path}/predict_n2v",
            pattern: "predictions/*.${params.file_extension}",
            mode: "copy"
        ]
      ext.args = [
         "--tile-size ${params.tile_size}",
         "--tile-overlap ${params.tile_overlap}",
         "--axes ${params.test_axis}",
         "--data-type ${params.data_type}",
         "--no-tta-transforms",
         "--write-type ${params.write_type}",
         "--batch-size ${params.batch_size}",
         "--axes ${params.test_axis}"
      ].join(' ').trim()
   }
   withName: 'PREDICT_N2N' {
      publishDir = [
            path: "${params.output_path}/predict_n2n",
            pattern: "predictions/*.${params.file_extension}",
            mode: "copy"
        ]
      ext.args = [
         "--tile-size ${params.tile_size}",
         "--tile-overlap ${params.tile_overlap}",
         "--axes ${params.test_axis}",
         "--data-type ${params.data_type}",
         "--no-tta-transforms",
         "--write-type ${params.write_type}",
      ].join(' ').trim()
   }
      withName: 'PREDICT_CARE' {
      publishDir = [
            path: "${params.output_path}/predict_care",
            pattern: "predictions/*.${params.file_extension}",
            mode: "copy"
        ]
      ext.args = [
         "--axes ${params.test_axis}",
         "--tile-size ${params.tile_size}",
         "--tile-overlap ${params.tile_overlap}",
         "--data-type ${params.data_type}",
         "--no-tta-transforms",
         "--write-type ${params.write_type}",
      ].join(' ').trim()
   }
}
