/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CAREamics Nextflow config file for N2V
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {

   // Base paths
   input_csv="${params.basepath}/test_careamics/input_n2v_wsl.csv"
   output_path = "${params.basepath}/results_careamics"
   test_path = "${params.basepath}/test_careamics/n2v_test_sem"
   outdir = "${params.basepath}/results_careamics"

   //mandatory params for config
   axes = "YX"
   batch_size = 32
   patch_size = "64 64" 
   num_epochs = 30
   data_type = "tiff"
   file_extension = "{tif,tiff}"
   logger ="None"
   exp_name ="n2v_em"
   model="n2v"
   use_n2v2="True"
    
   // params for the n2v algorithm
   nchannels="None"
   roisize="11"
   maskedpixelpercentage="0.2"
   structn2vaxis="none"
   structn2vspan="5"
   loss="n2v"

   //mandatory params for train
   valpercentage = "0.1"
   valminsplit="1"

   // mandatory params for the prediction
   tile_size = "256 256"
   tile_overlap = "48 48"
   write_type = "tiff"
   test_axis="YX"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'


// Set working directory
workDir = "${params.basepath}/work_nextflow"

profiles{
    conda_wsl { 
      conda.enabled=true
      process.conda="${params.basepath}/miniconda3/envs/careamics"
      }
    apptainer_wsl{
        apptainer.enabled= true
        apptainer.autoMounts= true
        apptainer.cacheDir= '${params.basepath}/.apptainer/cache'
        apptainer.tmpDir = '${params.basepath}/.apptainer/tmp'
        process.container='community.wave.seqera.io/library/careamics:0.0.16--973e324f2f759ff5'
        containerOptions = '--nv'
    }
    docker_wsl{
        docker.enabled=true
        containerOptions = '--gpus all -u $(id -u):$(id -g)'
        process.container='community.wave.seqera.io/library/careamics:0.0.16--973e324f2f759ff5'
    }
}

